.App-header {
  background-color: #404040;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.naatTitle {
  background-color: transparent;
  border: none;
  font-size: 2em;
  outline: none;
  width: 100%;
  color: white;
  padding: 12px;
}
.inp {
  background-color: transparent;
  border: none;
  padding: 12px;
  outline: none;
  color: white;
  width: 100%;
}
.btnUpload{
  outline: none;
  border: none;
  color: white;
  background-color: #585858;
  padding: 12px;
  margin: 7px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: .5s;
}
.btnUpload:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.closebtn{
  padding: 10px;
  background-color: transparent;
  color: red;
  font-weight: bold;
  border: none;
  outline: none;
}
.btnAdd {
  font-size: 2em;
  padding-bottom: 12px;
  margin: 7px;
  width: 85px;
  height: 85px;
  border: none;
  border-radius: 45px;
  background-color: #585858;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
  transition: .5s;
}
.btnAdd:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.file {
  opacity: 0;
}
.fileDisplay {
  font-size: 2.5em;
  color: #b58652;
  cursor: pointer;
}
.footer {
  background-color: rgba(0, 0, 0, 0.5);
}
